@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --fontPadrao: 'Outfit', sans-serif;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mainBG);
  font-family: var(--fontPadrao);
  font-size: 1.8rem;
}

.card {
  width: 36rem;
  background-color: var(--cardBG);
  border-radius: 2rem;
  padding: 3rem;
}

.card .card-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.card .card-preview .post {
  width: 100%;
  border-radius: 1rem;
}

.card .card-preview .view {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  background-color: var(--Cyan);
  border-radius: 1rem;
  width: 30.2rem;
  height: 30.2rem;
}

.card .card-preview:hover .view {
  opacity: 0.5;
}

.card .post-info h3 {
  margin-top: 2rem;
  color: var(--white);
  cursor: pointer;
  transition: .4s;
}

.card .post-info h3:hover {
  color: var(--Cyan);
}

.card .post-info p {
  color: var(--Soft-blue);
  margin-top: 2rem;;
}

.card .data-post {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.card .data-post .data-eth, .data-day {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.card .data-post .data-eth span {
  color: var(--Cyan);
}

.card .data-post .data-day span {
  color: var(--Soft-blue);
}

.post-footer {
  border-top: .1rem solid var(--line);
  margin-top: 2rem;
  padding-top: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.post-footer img {
  width: 3.2rem;
  border: .2rem solid var(--white);
  border-radius: 3.2rem;
}

.post-footer p, .attribution span {
  color: var(--Soft-blue);
}

.post-footer a {
  color: var(--white);
  transition: .4s;
}

.post-footer a:hover {
  color: var(--Cyan);
}

.attribution { font-size: 1.4rem; text-align: center; margin-top: 1rem; }
.attribution a { color: var(--Cyan)}